/* Pretendard 폰트 */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
}

/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 페이지 기본 설정 */
body {
  width: 1920px;
  height: 4334px;
  margin: 0 auto;
  background-color: #e3e8ee;
  font-family: "Pretendard";
}

/* 섹션 레이아웃 */
.section {
  width: 100%;
  height: 850px; /* 850px x 3 = 2550px */
  display: flex; /* 이미지 + 텍스트 가로 배치 */
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: space-between;
  padding: 110px;
  gap: 460px;
}

/* 좌우 반전 (BLACK LABEL) */
.section.reverse {
  flex-direction: row-reverse;
}

/*  이미지 */
.section img {
  width: 939px;
  height: 528px;
  object-fit: cover;
}

/* 텍스트 영역 */
.text {
  font-style: bold;
  max-width: 520px;
}

.text h2 {
  font-size: 56px;
  font-weight: 700px;
  margin-bottom: 16px;
  font-style: bold;
}

.text p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

/* 아웃라인 텍스트 (CLEAN / ADVANCED) */
.outline {
  color: transparent;
  -webkit-text-stroke: 1.5px #007bff;
}

/* 스크롤 등장 애니메이션 */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease, transform 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
